<div id="context_menu">
  <ul>
    <li><%= link_to "Mobil-app", :controller => "mobile", :action => "index" %></li>
    <li><%= link_to "Legg til ny", :action => "new" %></li>
    <li><%= link_to "Vis", :action => "list" %></li>
    <li><%= link_to "Beskrivelse", :action => "about" %></li>
  </ul>
</div><!-- end context_menu -->