<div id="context_menu">
  &nbsp;
  <h3>Standard kontekstmeny</h3>
  <ul>
    <li><%= link_to "Legg til ny", :action => "new" %></li>
    <li><%= link_to "Vis", :action => "list" %></li>
    <li><%= link_to "Beskrivelse", :action => "about" %></li>
  </ul>
</div><!-- end context_menu -->