<h3 id="page_title">Dagens pasienter</h3>
<hr style="color: #4099FF" />
<% @patients.each do |p| %>
<div id="patients_to_visit">
  <img  id="patient_img" src="<%= image_path('gunnar.png') %>">
  <ul>
    <li id="patient_name"><%= "#{p.firstname} #{p.lastname}" %></li>
    <li id="patient_address"><%= "#{p.address}" %><br/>
        <%= "#{p.postnumber} #{p.postplace}" %></li>
  </ul>
</div>

<% end %> 


