<div class="login">
  <% form_tag :controller => 'appuser', :action => 'login'  %>
    <%= text_field "appuser", "number" %>
    <%= password_field "hashed_password", "password" %><br/>
    <%= submit_tag "Logg inn" %>

 </div>