<div id="context_menu">
  &nbsp;
  <ul>
    <li><%= link_to "Kart over pasienter og sentere", :action => "map" %></li>
    <li><%= link_to "Dagens besok", :action => "today" %></li>
    <li><%= link_to "Besokslogg", :action => "log" %></li>
  </ul>
</div><!-- end context_menu -->