body {
    width: 100%;
    height: 100%;
}

a, a:visited{
    text-decoration: none;
    color: black;
}

.phone {
    position: fixed;
    margin-left:  25%;
    margin-right: auto;
    background: url("desire_s_shell.png") no-repeat;
    background-size: 25em;
    width: 400px;
    height: 600px;
}

.login {
    text-align: center;
    margin-top: 130px;
    line-height: 2em;
}
    
.login p {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
}

#log_in{
    width: 85px;
    height: 45px;
    font-weight: bold;
}

#error{
    color: red;
    font-size: 0.7em;
    margin-top: 0px;
}

.screen {
    margin-top: 4em;
    margin-left: 5.5em;
    width: 228px;
    height: 374px;
   
}

#page_title{
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    color: #909090;
    padding-bottom: 2px;
}

#patients_to_visit{
    border-bottom: 1px gray #777;
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom:  5px;
    width: 223px;
    height: 90px;
    box-shadow: 0px 4px 9px #AAAAAA;
    cursor: pointer;
}

#patient_img{
    width: 58px;
    float: left;
    padding-right: 13px;
}

#patients_to_visit {
      position: relative;
      padding-top: 5px;
}

#patients_to_visit ul,li{
    list-style: none;
    
}

#patient_name{
    padding-top: 9px;
    font-family: sans-serif;
}

#patient_address{
    color: #919191;
    font-size: 0.75em;
    font-family: sans-serif;
}

.more {
    background-color: #CCCCCC;
    position: absolute;
    width: 100%;
    height:  18px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

#more_img{
    position: relative;
    width: 23px;
    float: right;
    margin-right: 5px;
    margin-top: 13px;
    z-index: 100;
    cursor: pointer;
}

#to_do_title{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: #606060;
    font-size: 1em;
}

#extended_info{
    display: none;
    color: green;
}

.tasks {
    font-family: sans-serif;
    font-size: 0.8em;
    margin-left: 20px;
    cursor: pointer;
}

#task_box{
    background: url('gunnar.png') no-repeat;
    margin-right: 20px;
    margin-bottom: 15px;
}

.task_description{
    display: none;
    font-family: sans-serif;
    font-size: 0.65em;
    margin-left: 55px;
    padding-right: 15px;
    margin-bottom: 15px;
    color: #1B91E0;
}