body {
    width: 100%;
    height: 100%;
}

.phone {
    position: fixed;
    margin-left:  25%;
    margin-right: auto;
    background: url("desire_s_shell.png") no-repeat;
    background-size: 25em;
    width: 400px;
    height: 600px;
}

.login {
    text-align: center;
    margin-top: 130px;
    line-height: 2em;
}
    
.login p {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
}

#log_in{
    width: 85px;
    height: 45px;
    font-weight: bold;
}

#error{
    color: red;
    font-size: 0.7em;
    margin-top: 0px;
}

.screen {
    margin-top: 4em;
    margin-left: 5.5em;
    width: 228px;
    height: 374px;
   
}

#page_title{
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    color: #909090;
    padding-bottom: 2px;
}

#patients_to_visit{
    border-bottom: 1px gray #777;
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom:  5px;
    width: 223px;
    height: 90px;
    box-shadow: 0px 4px 9px #999;
    cursor: pointer;
}

#patient_img{
    width: 60px;
    float: left;
    padding-right: 13px;
}

#patients_to_visit ul,li{
    list-style: none;
    
}

#patient_name{
    font-weight: bold;
    font-family: sans-serif;
}

#patient_address{
    font-color: grey;
    font-size: 0.75em;
    font-family: sans-serif;
}