.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}



body {
    width: 100%;
    height: 100%;
}

a, a:visited{
    text-decoration: none;
    color: black;
}

#buttons {
    position: fixed;
    margin-top: 30%;
    margin-left: 60%;
    cursor: pointer;
}

#buttons img{
    width: 40px;
    cursor: pointer;
    
}
.phone {
    position: fixed;
    margin-left:  25%;
    margin-right: auto;
    background: url("desire_s_shell.png") no-repeat;
    background-size: 25em;
    width: 400px;
    height: 600px;
}

.login {
    text-align: center;
    margin-top: 40px;
    line-height: 1.5em;
}
    
.login p {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
}

#log_in{
    width: 85px;
    height: 45px;
    font-weight: bold;
}

#error{
    color: red;
    font-size: 0.7em;
    margin-top: 0px;
}

.screen {
    margin-top: 4em;
    margin-left: 5.5em;
    width: 228px;
    height: 374px;
    overflow: hidden;
   
}

#page_description{
    position: fixed;
    margin-top:55%;
    margin-left: 60%;
    font-family: Times;
    color: #5C5C5C;
    font-style: italic;
    font-weight: 500;
    width: 20em;
}

#page_title{
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    color: #909090;
    border-bottom: 2px solid  #1B91E0;
}

#messages{
    font-family: sans-serif;
    font-size: 0.7em;
    border-bottom: 1px dotted #D9D9D9;
}

#message_icon{
    position: relative;
    float: right;
    width: 2.5em;
}

.patients_to_visit{
    border-bottom: 1px gray #777;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom:  5px;
    width: 223px;
    height: 90px;
    box-shadow: 0px 4px 9px #AAAAAA;
    cursor: pointer;
}

#patient_img{
    width: 58px;
    float: left;
    padding-right: 13px;
}

.patients_to_visit {
      position: relative;
      padding-top: 5px;
      min-height: 90px;
      height: auto;
}

.patients_to_visit ul,li{
    list-style: none;
    
}

#patient_name{
    padding-top: 9px;
    font-family: sans-serif;
}

#patient_address{
    color: #919191;
    font-size: 0.75em;
    font-family: sans-serif;
}


#more_info{
    position: relative;
    width: 23px;
    float: right;
    margin-right: 5px;
    bottom: 25px;
    z-index: 100;
    cursor: pointer;
}

.title {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    color: #606060;
    font-size: 1em;
    border-bottom: 2px solid  #1B91E0;
}

#extended_info{
    display: none;
    color: #919191;
    font-family: sans-serif;
    font-size: 0.75em;
    width: inherit;
}


.tasks {
    font-family: sans-serif;
    font-size: 0.8em;
    margin-left: 10px;
    cursor: pointer;
}

#task_box{
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.task_description{
    display: none;
    font-family: sans-serif;
    font-size: 0.65em;
    margin-left: 35px;
    padding-right: 15px;
    margin-bottom: 15px;
    color: #1B91E0;
}


#patient_log{
    min-height: 60px;
    height: auto;
    
}

#more_log{
    position: relative;
    width: 23px;
    float: right;
    margin-right: 5px;
    bottom: 5px;
    z-index: 100;
    cursor: pointer;
}

#comments{
    min-height: 60px;
    height: auto;
}

.hidden_comments{
    display: none;
}

#more_comments{
    position: relative;
    width: 23px;
    float: right;
    margin-right: 5px;
    bottom: 5px;
    z-index: 100;
    cursor: pointer;
}

.comment_text{
    margin-left: 10px;
    font-family: serif;
    font-size: 0.8em;
}

.comment_author{
    text-align: right;
    font-family: sans-serif;
    font-size: 0.7em;
    margin-right: 10px;
    color: #505050;
}

.comment_date{
    text-align: right;
    font-family: sans-serif;
    font-size: 0.65em;
    margin-right: 10px;
    color: #0059FF;
    padding-bottom: 2px;
    border-bottom: 1px dotted #909090;
}

.temporary_info{
    font-size: 0.7em;
    color: grey;
    width: 90%;
    margin: 0 auto;
}

#character_counter{
    float: right;
}