<!DOCTYPE html>
<html>
<head>
  <title>HelseBackEnd</title>
  <%= stylesheet_link_tag "mobile", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="phone">
  <div class="screen">
    <%= yield %>
  </div>
</div>

<div id="buttons">
  <img src="/assets/up.png" id="up">Up<br/><br />
  <img src="/assets/down.png" id="down">Down<br/>
</div>


</body>
</html>
